<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="nl.x-services.plugins.iosminversion"
        version="1.0">

  <name>iOS Min Version</name>

  <description>
    This plugin allows you to set a different (higher) minimal iOS version
    for which your app will be available from the AppStore.
  </description>

  <license>MIT</license>

  <preference name="MIN_VERSION" />

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <platform name="ios">
    <config-file target="*-Info.plist" parent="MinimumOSVersion">
      <string>$MIN_VERSION</string>
    </config-file>
  </platform>

</plugin>